body {
    background: rgba(67, 23, 94, 1);
    background: -moz-linear-gradient(left, rgba(67, 23, 94, 1) 0%, rgba(89, 70, 164, 1) 51%, rgba(67, 23, 94, 1) 99%, rgba(67, 23, 94, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 23, 94, 1)), color-stop(51%, rgba(89, 70, 164, 1)), color-stop(99%, rgba(67, 23, 94, 1)), color-stop(100%, rgba(67, 23, 94, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 23, 94, 1) 0%, rgba(89, 70, 164, 1) 51%, rgba(67, 23, 94, 1) 99%, rgba(67, 23, 94, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 23, 94, 1) 0%, rgba(89, 70, 164, 1) 51%, rgba(67, 23, 94, 1) 99%, rgba(67, 23, 94, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 23, 94, 1) 0%, rgba(89, 70, 164, 1) 51%, rgba(67, 23, 94, 1) 99%, rgba(67, 23, 94, 1) 100%);
    background: linear-gradient(to right, rgba(67, 23, 94, 1) 0%, rgba(89, 70, 164, 1) 51%, rgba(67, 23, 94, 1) 99%, rgba(67, 23, 94, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43175e', endColorstr='#43175e', GradientType=1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0px;
}



h1 {
    color: #fae7cb;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin: 2%;
}

h2 {
    color: #fae7cb;
    border-radius: 20px;
    background-color: rgba(67, 23, 94, 1);
    font-weight: 400;
    font-size: 2rem;
    padding: 2%;
}

h3 {
    color: #fae7cb;
    font-weight: 400;
    font-size: 1.5rem;
}

p {
    color: #fae7cb;
    font-weight: 300;
    font-size: 1rem;
    margin: 20px 50px 20px 50px;
}

hr {

    border-color: #fae7cb;
    border-style: dotted none none;
    border-width: 5px;
    height: 4%;
    width: 4%;
    margin: 5% auto 5% auto
}

a {
    color: #5946a4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0px 60px 20px;
    text-decoration: none;
}

a:hover {
    color: #fae7cb;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 60px 100px;
    text-decoration: none;
}

.subtitulo {
    background: none;
    color: #fae7cb;
    font-weight: 400;
    font-size: 2.5rem;

    padding: 0;
}

.contenedor-superior {

    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0px;
}

.middle-container {

    margin: auto;
    width: 50%;
}

.left {
    text-align: left;
}

.bottom-container {
    background-color: #43175e;
    padding: 20px 0px 10px;
}


.o1 {
    position: relative;
    align-self: center;
    width: 20rem;
}


.o2 {
    position: absolute;
    align-self: center;
    width: 20rem;
}

.frontend {
    position: relative;
    align-self: center;
    width: 20rem;
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: ease-in;
}

.frontend:hover {
    position: relative;
    align-self: center;
    width: 20rem;
    transform: translateY(-20px);
}

.skill1 {
    float: left;
    width: 15%;
    margin-right: 20px;
}

.btn {
	background:linear-gradient(to bottom, #fae7cb 5%, #e6d3b8 100%);
	background-color:#fae7cb;
	border-radius:28px;
	border:1px solid #43175e;
	display:inline-block;
	cursor:pointer;
	color:#43175e;
	font-family: 'Montserrat', sans-serif;
    font-size:17px;
    
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fae7cb;
}
.btn:hover {
	background:linear-gradient(to bottom, #e6d3b8 5%, #fae7cb 100%);
	background-color:#e6d3b8;
}
.btn:active {
	position:relative;
	top:1px;
}

.copy {

    color: #e6d3b8;
    font-size: 0.9rem;
    margin: 20px 10px 0px;
}
